<div class="content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Renato Drigo Vieira</mat-card-title>
      <mat-card-subtitle>RA: 081180038</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/renato.jpg" />
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Christian Yuri Seki</mat-card-title>
      <mat-card-subtitle>RA: 082170004</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/christian.jpg" />
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Vitor Gobato Gercov</mat-card-title>
      <mat-card-subtitle>RA: 081180033</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/vitor.jpg" />
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Higor Reculiano</mat-card-title>
      <mat-card-subtitle>RA: 081180036</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/higor.jpg" />
  </mat-card>
</div>
